.contentCountries {
    border-bottom: 1px solid gray;
    margin-bottom: 2%;
    cursor: pointer;
}

.contentCountries:hover {
    background-color: #ececec;
    color: black;
}

.container {
    padding: 5%;
    margin: auto;
}

.card-img-top {
    margin: auto;
    width: 38%;
}

.background {
    height: -webkit-fill-available;
    position: fixed;
    width: 100%;
    z-index: 1;
    overflow: auto;
}